.jumbotron{
    background-color: burlywood;
    color: black;
}
.card-perro{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 10px;
}
/*
 * Footer
 */
 .perros-footer {
    padding: 2.5rem 0;
    color: #999;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top: 2px;
  }
  .perrros-footer p:last-child {
    margin-bottom: 0;
  }